.DS_Store

# Virtual environment for Python 3
venv/*

# Compiled Python
*.pyc

# Example scripts and EAs
extension_attributes/*
!extension_attributes/Last User/
scripts/*
!scripts/Install Software Updates/
!scripts/templates
!extension_attributes/templates
tools/ci_tests/computers.json
